.container{
   margin: 100px auto;
    width: 900px;
    height: 400px;
    background-color: rgb(243, 243, 223);
}
.row{
    
    text-align: center;
    display: flex;
    gap: 10px;
    padding-left: 4%;
}
.col-3 {

    margin-top: 50px;
    width: 200px;
    height: 300px;
    background-color: rgb(256, 256, 256);
   
}

.col-3 div>img{
    width: 100%;
    height: 100%;
}